.comic_image {
    position: relative;
    height: auto;
}

.comic_moving_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}


.rectangle {
    position: absolute;
    bottom: -332px;
    left: 0;
    right: 0;
    height: 56%;
    width: 100%;
    background: black;
}